<div class="col-md-2 mx-auto form p-4">
  <h1 class="display-4 py-2 text-truncate text-center">Login</h1>
  <form (submit)="onLogin(loginForm)" #loginForm="ngForm" *ngIf="!isLoading" class="justify-content-center">
    <div class="form-group">
      <label class="UserName" for='userName'>username</label>
      <input class="form-control" id="userName" name="userName" ngModel type="userName" placeholder="username"
             #emailInput="ngModel" required>

      <label class="password" for='password'>password</label>
      <input class="form-control" id="password" name="password" ngModel type="password" placeholder="Password"
             #passwordInput="ngModel" required>
    </div>
    <br>
    <button class="btn btn-primary btn-md" type="submit" *ngIf="!isLoading">Login</button>
  </form>
</div>
