<div class="ResourceTable">

  <div class="d-flex justify-content-between align-items-center topbar">
      <form class="form-inline">
        <input #Filter placeholder="Keyword" (keyup.enter)="applyFilter()">
        <button (click)="applyFilter()" type="button" class="btn btn-warning">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z"/>
            <path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z"/>
          </svg>
        </button>
      </form>

      <h1 class="m-2">Resources Catalog</h1>

      <button type="button" class="btn btn-warning btn-right" [matMenuTriggerFor]="add">+</button>

  </div>

  <table mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="{{column}}" *ngFor="let column of displayedColumns">
      <th class="text-center text-uppercase font-weight-bold" mat-header-cell *matHeaderCellDef [ngSwitch]="column">
        <div *ngSwitchCase="'resource name'">{{column}}</div>
        <div *ngSwitchCase="'resource code'">{{column}}</div>
        <div *ngSwitchDefault class="row">
          <div class="col-11">{{column}}</div>
          <span [matMenuTriggerFor]="editcolumn" class="col-1" (click)="getHeader($event)">
            <mat-icon>keyboard_arrow_down</mat-icon>
          </span>
        </div>
      </th>

      <td mat-cell *matCellDef="let element; let id = index" [ngSwitch]="column">
        <div *ngSwitchCase="'resource name'">{{element[column]}}</div>
        <div *ngSwitchCase="'resource code'">{{element[column]}}</div>
        <div *ngSwitchDefault>
          <input style="border-color: transparent !important; width: 100%"
                 (keyup)="changeValue(id, column, $event)"
                 (blur)="updateList(id, column, $event)"
                 contenteditable="true" [value]="element[column]">
        </div>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

  </table>

  <div *ngIf="addNewRow">
    <form [formGroup]="NewRow" class="row" (ngSubmit)="onSubmit(NewRow.value)">
      <button class="button" type="submit">&#10004;</button>
      <button class="button" (click)="Cancel()">x</button>
      <div class="col" *ngFor="let column of displayedColumns" [ngSwitch]="column">
        <input *ngSwitchCase="'resource name'" formControlName="{{column}}" style="border-color: black!important;" contenteditable="true">
        <input *ngSwitchCase="'resource code'" formControlName="{{column}}" style="border-color: black!important;" contenteditable="true">
        <div *ngSwitchDefault><span></span></div>
      </div>
    </form>
  </div>
  <mat-paginator [pageSizeOptions]="[10, 20, 50]" showFirstLastButtons></mat-paginator>

</div>

<mat-menu #add="matMenu">
  <button mat-menu-item (click)="addRow()">
    <mat-icon>subject</mat-icon>
    Add Row
  </button>
  <button mat-menu-item (click)="addColumn()">
    <mat-icon>vertical_split</mat-icon>
    Add Column
  </button>
  <button mat-menu-item disabled>
    <mat-icon> insert_drive_file</mat-icon>
    Import CSV
  </button>
</mat-menu>

<mat-menu #editcolumn="matMenu">
  <button mat-menu-item (click)="changeColumnName()">
    <mat-icon>subject</mat-icon>
    Edit Column
  </button>
  <button mat-menu-item (click)="DeleteColumn()">
    <mat-icon>vertical_split</mat-icon>
    Delete Column
  </button>
</mat-menu>



