.btn-primary {
  background: #ff5301;
  color: #ffffff;
  border: 0 none;
}
.title {
  font-size:55px;
  color: #ff5301;
  font-family: arial, serif;
  font-style: italic;
  text-shadow: 1px 1px #000000;
}
